<?xml version="1.0" encoding="UTF-8" standalone="yes"?><SBAnalysis><analysis name="/Users/mwornow-m/Desktop/JBEIseqval/MiSeqValidationResults/ANZPH" reference="/Users/mwornow-m/Desktop/JBEIseqval/MiSeqValidationResults/ANZPH/ref/references.fasta" location="/Users/mwornow-m/Desktop/JBEIseqval"><pool name="ANXHX_libName" samples="ANXHX_libName"><job name="bwa_dir" protocol="bwa_dir"/></pool></analysis></SBAnalysis>